//color
$gunmetal : #022B3A;
$mtl-sea:#1F7A8C;
$lg-blue:#BFDBF7;
$lg-gray:#E1E5F2;
$white:#FFFFFF;
$bg-gradient:linear-gradient( #BFDBF7 0%, #E1E5F2 100%);

//font
$font-OpenSans: 'Open Sans', sans-serif;
$font-Arimo: 'Arimo', sans-serif;