*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Arimo', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/images/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 35%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.modal-title{
    font-size: 2rem;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}
.icon-cancel{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.icon-cancel:hover{
    color: rgba(207, 62, 62, 0.8)
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}
.title{
    font-size: 2rem;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}
.open-model-btn{
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgba(207, 62, 62, 0.8);
    border-radius: 5px;
    margin-top: 50px;
}
/* modal open/close */
.modal-open{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
