* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-center {
    width: 100%;
    height: 10vh;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.nav-header {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 10px;
}

.links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.links li{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 0 1rem;
}

.links li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.links li:hover {
    background-color:#62a7e0 ;
}

.nav-toggle {
    width: 10%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    display: none;
}

.nav-toggle:hover {
    color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 768px) {
    .links {
        position: absolute;
        top: 10vh;
        width: 100%;
        height: 40vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.3);
    }
    .links li {
        width: 100%;
        height: 10vh;
        margin-right: 0;
    }
    .links li:hover {
        background-color:#62a7e0 ;
        cursor: pointer;
    }
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .active{
        display: flex;
    }

}